<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <AntHQ_Ant>
            <version>0.0.1</version>
        </AntHQ_Ant>
    </modules>
    <global>
        <!-- Hooks into the Magento Event System -->
        <events>
            <!-- Catalogue Product Events -->
            <catalog_product_save_commit_after>
                <observers>
                    <save>
                        <type>singleton</type>
                        <class>AntHQ_Ant_Observer_CatalogProductObserver</class>
                        <method>save</method>
                    </save>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_product_delete_after>
                <observers>
                    <delete>
                        <type>singleton</type>
                        <class>AntHQ_Ant_Observer_CatalogProductObserver</class>
                        <method>delete</method>
                    </delete>
                </observers>
            </catalog_product_delete_after>
            <!-- Order Events -->
            <order_save_commit_after>
                <observers>
                    <save>
                        <type>singleton</type>
                        <class>AntHQ_Ant_Observer_OrderObserver</class>
                        <method>save</method>
                    </save>
                </observers>
            </order_save_commit_after>
        </events>
    </global>
</config>