<?xml version="1.0"?>
<config>
    <modules>
        <Ant_Api>
            <version>0.0.3</version>
        </Ant_Api>
    </modules>
    <global>
        <helpers>
            <ant_api>
                <class>Ant_Api_Helper</class>
            </ant_api>
        </helpers>
        <blocks>
            <ant_api>
                <class>Ant_Api_Block</class>
            </ant_api>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Ant_Api_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                    <customer_edit>Ant_Api_Block_Adminhtml_Customer_Edit</customer_edit>
                    <sales_order_view>Ant_Api_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <ant_api>
                <class>Ant_Api_Model</class>
                <resourceModel>ant_api_mysql4</resourceModel>
            </ant_api>
            <ant_api_mysql4>
                <class>Ant_Api_Model_Mysql4</class>
                <entities>
                    <webhook>
                        <table>ant_api_webhook</table>
                    </webhook>
                </entities>
            </ant_api_mysql4>
            <product_attribute_media_api>
                <rewrite>
                    <api>Ant_Catalog_Model_Product_Attribute_Media_Api</api>
                </rewrite>
            </product_attribute_media_api>
        </models>
        <resources>
            <antapi_setup>
                <setup>
                    <module>Ant_Api</module>
                    <class>Ant_Api_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </antapi_setup>
            <antapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </antapi_write>
            <antapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </antapi_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ant_Api after="Mage_Adminhtml">Ant_Api_Adminhtml</Ant_Api>
                    </modules>
                </args>
            </adminhtml>
            <webhookadmin>
                <use>admin</use>
                <args>
                    <module>Ant_Api</module>
                    <frontName>webhookadmin</frontName>
                </args>
            </webhookadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <antapi>
                    <file>ant_api.xml</file>
                </antapi>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <product_save_before_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>ProductSaveBefore</method>
                    </product_save_before_observer>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <product_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>ProductSaveAfter</method>
                    </product_save_after_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <product_delete_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>ProductDeleteAfter</method>
                    </product_delete_after_observer>
                </observers>
            </catalog_product_delete_after>
            <adminhtml_customer_prepare_save>
                <observers>
                    <adminhtml_customer_prepare_save_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>PrepareSaveCustomerAfterInAdmin</method>
                    </adminhtml_customer_prepare_save_observer>
                </observers>
            </adminhtml_customer_prepare_save>
            <adminhtml_customer_save_after>
                <observers>
                    <adminhtml_customer_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveCustomerAfterInAdmin</method>
                    </adminhtml_customer_save_after_observer>
                </observers>
            </adminhtml_customer_save_after>
            <customer_delete_before>
                <observers>
                    <customer_delete_before_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>DeleteCustomerAfterInAdmin</method>
                    </customer_delete_before_observer>
                </observers>
            </customer_delete_before>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveOrderAfter</method>
                    </sales_order_place_after_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_shipment_save_after>
                <observers>
                    <sales_order_shipment_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveShippmentOrderAfter</method>
                    </sales_order_shipment_save_after_observer>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveInvoiceOrderAfter</method>
                    </sales_order_invoice_save_after_observer>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveCreditMemoOrderAfter</method>
                    </sales_order_creditmemo_save_after_observer>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <sales_order_payment_cancel_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveCancelOrderAfter</method>
                    </sales_order_payment_cancel_observer>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_hold>
                <observers>
                    <controller_action_postdispatch_adminhtml_sales_order_hold_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveHoldOrderAfterCustom</method>
                    </controller_action_postdispatch_adminhtml_sales_order_hold_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_hold>
            <sales_order_save_after>
                <observers>
                    <sales_order_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveOrderStatusHistory</method>
                    </sales_order_save_after_observer>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <antapi>
                <use>standard</use>
                <args>
                    <module>Ant_Api</module>
                    <frontName>gettoken</frontName>
                </args>
            </antapi>
        </routers>
        <layout>
            <updates>
                <antapi>
                    <file>ant_api.xml</file>
                </antapi>
            </updates>
        </layout>
        <events>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveOrderAfterOnFrontend</method>
                    </sales_order_place_after_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_pay>
                <observers>
                    <sales_order_payment_pay_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveOrderPaymentPayOnFrontend</method>
                    </sales_order_payment_pay_observer>
                </observers>
            </sales_order_payment_pay>
            <customer_register_success>
                <observers>
                    <customer_register_success_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>SaveCustomerAfterInFrontEnd</method>
                    </customer_register_success_observer>
                </observers>
            </customer_register_success>
            <customer_address_save_after>
                <observers>
                    <customer_address_save_after_observer>
                        <class>Ant_Api_Model_Observer</class>
                        <method>UpdateCustomerAddressAfterInFrontEnd</method>
                    </customer_address_save_after_observer>
                </observers>
            </customer_address_save_after>
        </events>
    </frontend>
    <default>
        <ant_api_config>
            <tax_class_ant>
                <ant_taxs>1</ant_taxs>
            </tax_class_ant>
        </ant_api_config>
    </default>
</config>