<?xml version="1.0"?>
<config>
    <tabs>
        <ant_api>
            <label>Ant</label>
            <sort_order>0</sort_order>
        </ant_api>
    </tabs>
    <sections>
        <ant_api_config>
            <label>General</label>
            <tab>ant_api</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Authorization</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <module_version>
                            <label>Ant Module Version</label>
                            <type>hidden</type>
                            <frontend_model>ant_api/adminhtml_system_config_form_field_module_version</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </module_version>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <url_front translate="label">
                            <label>URL</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </url_front>
                        <consumer_key translate="label">
                            <label>Consumer Key</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends><enabled>1</enabled></depends>
                        </consumer_key>
                        <consumer_secret translate="label">
                            <label>Consumer Secret</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </consumer_secret>
                        <authorization_token translate="label">
                            <label>Authorization Token</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </authorization_token>
                        <authorization_secret translate="label">
                            <label>Authorization Secret</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </authorization_secret>
                        <generate_tokens_button translate="label">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>ant_api/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </generate_tokens_button>
                        <last_generated translate="label">
                            <label>Last Generated</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>adminhtml/system_config_form_field_notification</frontend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </last_generated>
                    </fields>
                </general>
                <sync_source translate="label">
                    <label>Sync Source settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pricing translate="label">
                            <label>Special Price Master Source</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>ant_api/system_config_sync_source_framework</source_model>
                            <comment><![CDATA[When AntHQ is selected as master, any price changes resulting in a discount in AntHQ will be pushed into Magento products when syncing. <br/>When Magento is selected as master, any price changes resulting in a discount in AntHQ will not be pushed into Magento products. All discounting to be conducted in Magento directly]]></comment>
                        </pricing>
                    </fields>
                </sync_source>
                <!-- Should change this config setting, but for compatiblity on current modules we'll leave it -->
                <tax_class_ant translate="label">
                    <label>Product settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <website_default translate="label">
                            <label>Website Default</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>ant_api/system_config_source_multiselect_website</source_model>
                            <comment><![CDATA[Websites to add products to by default]]></comment>
                        </website_default>
                        <ant_taxs translate="label">
                            <label>Tax</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>ant_api/system_config_source_dropdown_values</source_model>
                        </ant_taxs>
                    </fields>
                </tax_class_ant>
            </groups>
        </ant_api_config>
    </sections>
</config>
